@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* Colors */
    /* Primary */
    --Red: hsl(0, 100%, 74%) ;
    --Green: hsl(154, 59%, 51%);

    /* Accent */
    --Blue: hsl(248, 32%, 49%);

    /* Neutral */
    --Dark_Blue: hsl(249, 10%, 26%) ;
    --Grayish_Blue: hsl(246, 25%, 77%);

    /* --Grayish Blue with an alpha: */
    --input_border_color: hsla(246, 25%, 77%, 0.5);

/* Shadows */
    --box-shadow: 0 10px 1px -2px rgba(0, 0, 0, 0.2);
    --box-shadow-btn-green: 
        0 3px 0 1px rgba(0, 0, 0, 0.2), 
        0 3px 0 1px var(--Green)
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--Red);
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../images/bg-intro-mobile.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.container {
    width: 375px;
    height: 1000px;
    padding: 5.5rem 30px;
}

#header {
    margin-bottom: 3.5rem;
}

#header h1 {
    font-size: 1.8rem;
    line-height: 1.3;
    margin-bottom: 1.3rem;
    font-weight: 700;
    text-align: center;
}

#header p {
    line-height: 1.7;
    font-weight: 500;
    text-align: center;
}

button#try-it-btn {
    width: 100%;
    border: none;
    background-color: var(--Blue);
    color: white;
    border-radius: 10px;
    padding: 20px 0;
    box-shadow: var(--box-shadow);
    margin-bottom: 25px;
    display: flex;
    flex-direction: column;
}

#try-it-btn .try-it-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
}
#try-it-btn .try-it-text strong {
    font-weight: 700;
}

.form {
    background-color: white;
    border-radius: 10px;
    padding: 25px;
    box-shadow: var(--box-shadow);
}

.form form {
    margin-bottom: 20px;
}

form input, form button {
    width: 100%;
    border-radius: 5px;
}

.form-input {
    position: relative;
    margin-bottom: 15px;
}

form input {
    padding: 18px;
    border: 1px solid var(--input_border_color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

form input:focus {
    outline: 1px solid var(--Dark_Blue);
}

form input.error {
    border: 2px solid var(--Red);
    color: var(--Red);
}

form input.error:focus {
    border: 2px solid var(--Red);
    outline: 1px solid var(--Red);
}

.icon-error {
    position: absolute;
    right: 0;
    top: 0;
    padding: 17px;
    padding-right: 25px;
    display: none;
}

.visible {
    display: block;
}

.feedback {
    width: 100%;
    text-align: end;
    color: var(--Red);
    font-size: 0.65rem;
    font-weight: 500;
    font-style: italic;
    margin-top: 5px;
}

form input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

form button {
    border: none;
    background-color: var(--Green);
    color: white;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;
    box-shadow: var(--box-shadow-btn-green);
}

form button:hover {
    opacity: 0.65;
}

.form .terms-of-use {
    color: var(--Grayish_Blue);
    font-size: 10px;
    margin: 0 20px;
    text-align: center;
    cursor: pointer;
}

.form .terms-of-use a {
    font-weight: 700;
    color: var(--Red);
    line-height: 2.5;
    text-decoration: none;
}

@media screen and (min-width: 1280px) {

    main {
        background-image: url("../images/bg-intro-desktop.png");
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container {
        position: relative;
        width: 1100px;
        height: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin: 0;
        padding: 0;
    }
    
    .container #header {
        position: absolute;
        left: 0;
        width: 550px;
        height: 100%;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #header h1, #header p {
        text-align: start;
    }

    #header h1 {
        font-size: 3rem;
    }

    button#try-it-btn, div.form {
        width: 550px;
        margin-bottom: 30px;
    }

    button#try-it-btn {
        padding: 18px 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    div.form {
        padding: 45px;
    }

    .form-input {
        margin-bottom: 20px;
    }

}

button {
    cursor: pointer;
}

footer#main {
    margin: 10px 0;
}

footer .attribution { font-size: 11px; text-align: center; }
footer .attribution a { color: hsl(228, 45%, 44%); }