@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
/* ## Colors */

/* ### Primary */
--Red: hsl(0, 100%, 74%) ;
--Green: hsl(154, 59%, 51%);

/* ### Accent */
--Blue: hsl(248, 32%, 49%);

/* ### Neutral */
--Dark_Blue: hsl(249, 10%, 26%) ;
--Grayish_Blue: hsl(246, 25%, 77%);
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

footer#main {
    margin: 10px 0;
}

footer .attribution { font-size: 11px; text-align: center; }
footer .attribution a { color: hsl(228, 45%, 44%); }